In [11]:
import pandas as pd
import numpy as np
import sklearn
import pickle
from sklearn.preprocessing import OneHotEncoder

In [5]:
ai_data_csv=pd.read_csv('Downloads/XTern 2024 Artificial Intelegence Data Set - Xtern_TrainData.csv')

In [8]:
df_ai_data=pd.DataFrame(ai_data_csv)

In [9]:
df_ai_data

,Year,Major,University,Time,Order
0,Year 2,Physics,Indiana State University,12,Fried Catfish Basket
1,Year 3,Chemistry,Ball State University,14,Sugar Cream Pie
2,Year 3,Chemistry,Butler University,12,Indiana Pork Chili
3,Year 2,Biology,Indiana State University,11,Fried Catfish Basket
4,Year 3,Business Administration,Butler University,12,Indiana Corn on the Cob (brushed with garlic b...
...,...,...,...,...,...
4995,Year 2,Mathematics,Ball State University,11,Breaded Pork Tenderloin Sandwich
4996,Year 3,Astronomy,Indiana State University,12,Ultimate Grilled Cheese Sandwich (with bacon a...
4997,Year 3,Chemistry,Butler University,13,Sugar Cream Pie
4998,Year 3,Astronomy,Butler University,15,Sugar Cream Pie
4999,Year 2,Economics,University of Notre Dame,15,Breaded Pork Tenderloin Sandwich

In [24]:
def Data_preparation(df):
    
    # Add Meal_Type column ={'Breakfast', 'Lunch', 'Dinner'}
    time_to_meal_type={}
    for i in list(df['Time'].unique()):
        if i in (8,9,10,11):
            time_to_meal_type[i]='Breakfast'
        elif i in (12,13,14,15):
            time_to_meal_type[i]='Lunch'
        else:
            time_to_meal_type[i]='Evening_Snack'
    Meal_type=[]
    for i in list(ai_data_df['Time']):
        Meal_type.append(time_to_meal_type[i])
    df['Meal_type']=Meal_type
    
    #One Hot encode all categorical variables except Order column
    
    
    one_hot_encoded_data = pd.get_dummies(ai_data_df, columns = ['Year', 'University','Major','Time', 'Meal_type'])
    one_hot_encoded_data = one_hot_encoded_data.drop(columns=['Order'])
    
    return one_hot_encoded_data

In [37]:
df_prepared_data=Data_preparation(df_ai_data)

In [36]:
#df_prepared_data can be fed directly into the model's pickle
# svm_model_loaded=pickle.load(open('Downloads/SVM_model_Xtern', 'rb'))
# svm_model_loaded.predict(df_prepared_data)